{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="Main-cls  page-width  section-{{ section.id }}-padding">
    <div class="lemmantitle">
      <h2 class="lemtitle" style="font-size: {{ section.settings.font_size }}px;">{{ section.settings.lemotitle }}</h2>
      <h4 class="subtitle" style="font-size: {{ section.settings.font_size2 }}px;">{{ section.settings.lenosub }}</h4>
    </div>
   <div class="main-section">
      <div class="main-image dsdssd image-with-text__media image-with-text__media--medium gradient color-background-1 global-media-settings media">
        {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
            {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
              {{
            section.settings.image1
            | image_url: width: 1500
            | image_tag: loading: 'lazy', sizes: sizes, widths: widths
          }}
      </div>
      <div class="main-image image-with-text__content image-with-text__content--top image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--medium gradient color-background-1 content-container">
          {% for block in section.blocks %}
            <div class="signlineflex">
              <div class="signlineflex2">
                <p class="subtosubtitle" style="font-size: {{ block.settings.font_size3 }}px;">{{ block.settings.subtitle }}</p>
              </div>
            </div>
          {% endfor %}
      </div>
   </div>
</div>

{% schema %}
{
"name": "Custom Image Text",  
"class": "section section-custom-image-with-text",
"settings": [
    {
      "id" : "lemotitle",
      "type" : "text",
      "label" : "Heading"
    },
    {
      "id" : "lenosub",
      "type" : "text",
      "label" : "Sub Title"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font Size",
      "default": 16,
      "min": 8,
      "max": 50,
      "step": 1
    },
    {
      "type": "range",
      "id": "font_size2",
      "label": "SubFont Size",
      "default": 16,
      "min": 8,
      "max": 50,
      "step": 1
    },
    {
      "id" : "image1",
      "type" : "image_picker",
      "label" : "Image1"
    },
   {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
],
"blocks":[
  {
    "type" : "block",
    "name" : "block",
    "settings" : [
      {
        "id" : "subtitle",
        "type" : "text",
        "label" : "Sub Title"
      },
      {
        "type": "range",
        "id": "font_size3",
        "label": "Font Size",
        "default": 16,
        "min": 8,
        "max": 50,
        "step": 1
      },
       {
        "id" : "background",
        "type" : "color",
        "label" : "Icon Background Color"
      }
    ]
  }
],  
"presets" : [
  {
    "name" : "Custom Image Text"
  }
]
}
{% endschema %}
