<div class="Main-cls">
    <div class="lemmantitle">
      <h2 class="lemtitle" style="font-size: {{ section.settings.font_size }}px;">{{ section.settings.lemotitle }}</h2>
      <h4 class="subtitle" style="font-size: {{ section.settings.font_size2 }}px;">{{ section.settings.lenosub }}</h4>
    </div>
   <div class="main-section">
      <div class="main-image">
         <img src="{{ section.settings.image1 | img_url:'master' }}">
      </div>
      <div class="main-image">
          {% for block in section.blocks %}
            <div class="signlineflex">
              <div class="signlineflex1">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="signlineflex2">
                <p class="subtosubtitle" style="font-size: {{ block.settings.font_size3 }}px;">{{ block.settings.subtitle }}</p>
              </div>
            </div>
      {% endfor %}
      </div>
   </div>
</div>

{% schema %}
{
"name": "Custom Image Text",
"settings": [
    {
      "id" : "lemotitle",
      "type" : "text",
      "label" : "Heading"
    },
    {
      "id" : "lenosub",
      "type" : "text",
      "label" : "Sub Title"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font Size",
      "default": 16,
      "min": 8,
      "max": 50,
      "step": 1
    },
    {
      "type": "range",
      "id": "font_size2",
      "label": "SubFont Size",
      "default": 16,
      "min": 8,
      "max": 50,
      "step": 1
    },
    {
      "id" : "image1",
      "type" : "image_picker",
      "label" : "Image1"
    }
],
"blocks":[
  {
    "type" : "block",
    "name" : "block",
    "settings" : [
      {
        "id" : "subtitle",
        "type" : "text",
        "label" : "Sub Title"
      },
      {
        "type": "range",
        "id": "font_size3",
        "label": "Font Size",
        "default": 16,
        "min": 8,
        "max": 50,
        "step": 1
      }
    ]
  }
],  
"presets" : [
  {
    "name" : "Custom Image Text"
  }
]
}
{% endschema %}

<style>

  .Main-cls{
    max-width: 100%;
    width: 100%;
  }
  .main-section{
    display: flex;
    width: 100%;
    margin-top:2%;
  }
  .main-image{
    width:50%;
  }
  .main-heading{
    width: 50%;
    margin: auto;
    text-align: center;

  }
   .main-image img{
    width:100%;
  }
  @media(max-width:600px){
    .Main-cls div.main-section:nth-child(1) {
      order: 2;
    }
    .main-section{
      display:block;
    }
    .main-image{
      width:100%;
    }
    .main-heading{
      width:100%;
      padding:0;
    }
  }

</style>