{% if section.settings.heading != blank %}
  <div id="{{ section.id }}">
    <div class="main-marq">
      <div class="globalp text-marquee">
        <div class="d-flex-b">
          <div class="clsheadtitle">
            {% if section.settings.image_marquee != blank %}
              <img src="{{ section.settings.image_marquee| img_url:'master' }}">
            {% endif %}
            <p style="font-size: {{ section.settings.font_size1 }}px;">{{ section.settings.heading }}</p>
          </div>
          <div class="clsheadtitle">
            {% if section.settings.image_marquee != blank %}
              <img src="{{ section.settings.image_marquee| img_url:'master' }}">
            {% endif %}
            <p>{{ section.settings.heading }}</p>
          </div>
          <div class="clsheadtitle">
            {% if section.settings.image_marquee != blank %}
              <img src="{{ section.settings.image_marquee| img_url:'master' }}">
            {% endif %}
            <p>{{ section.settings.heading }}</p>
          </div>
          <div class="clsheadtitle">
            {% if section.settings.image_marquee != blank %}
              <img src="{{ section.settings.image_marquee| img_url:'master' }}">
            {% endif %}
            <p>{{ section.settings.heading }}</p>
          </div>
          <div class="clsheadtitle">
            {% if section.settings.image_marquee != blank %}
              <img src="{{ section.settings.image_marquee| img_url:'master' }}">
            {% endif %}
            <p>{{ section.settings.heading }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Merquee Section new",
  "settings": [
    {
      "id" : "heading",
      "type" : "text",
      "label" : "Heading"
    },
    {
      "type": "range",
      "id": "font_size1",
      "label": "Font Size",
      "default": 16,
      "min": 8,
      "max": 50,
      "step": 1
    },
{
 "id": "image_marquee",
 "type": "image_picker",
  "label": "marquee image"
 },
    {
      "id" : "bg-color",
      "type" : "color",
      "label" : "Background Color"
    },
         {
      "id" : "clrmer",
      "type" : "color",
      "label" : "Marquee Color"
    }
  ],
  "presets" : [
    {
      "name" : "Merquee Section new"
    }
  ]
}
{% endschema %}

<style>
        #{{ section.id }} .main-marq {
  background: {{section.settings.bg-color}};
  }
  #{{ section.id }} .main-marq .text-marquee .d-flex-b .clsheadtitle span{
  color: {{section.settings.clrmer}};
     }
</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/jQuery.Marquee/1.5.0/jquery.marquee.min.js"></script>
<script>
  $(' #{{ section.id }} .main-marq .text-marquee').marquee({
      direction: 'right',
      duration: 20000,
      gap: 10,
      delayBeforeStart: 0,
      duplicated: true,
      startVisible: true
  });
</script>
