
<div class="populatesction">
  <div class="popularcontain page-width-desktop ">
    <div class="lemmantitle">
      <h2 class="lemtitle" style="font-size: {{ section.settings.font_size }}px;">{{ section.settings.lemotitle }}</h2>
      <h4 class="subtitle" style="font-size: {{ section.settings.font_size2 }}px;">{{ section.settings.lenosub }}</h4>
    </div>
    <div class="boxcontainflex desktop">
      {% for block in section.blocks %}
        <div class="boxcontainflex1">
          <div class="boxcontainflexcontan">
            <div>
              <img src="{{ block.settings.kome | img_url:'master' }}" class="komimage">
            </div>
            <div class="signlineflex">
              <div class="signlineflex1">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="signlineflex2">
                <p class="subtosubtitle" style="font-size: {{ block.settings.font_size3 }}px;">{{ block.settings.subtitle }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="signaturebox mobileversion">
      <div class="signupflexmobile">
        {% for block in section.blocks %}
          <div class="signupflex1">
            <div class="signlineflexdesign">
              <div class="signlineflex1">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="signlineflex2">
                <p class="subtosubtitle">{{ block.settings.subtitle }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "popularsections",

"settings": [
{
  "id" : "lemotitle",
  "type" : "text",
  "label" : "Heading"
},
{
  "id" : "lenosub",
  "type" : "text",
  "label" : "Sub Title"
},
{
  "type": "range",
  "id": "font_size",
  "label": "Font Size",
  "default": 16,
  "min": 8,
  "max": 50,
  "step": 1
},
{
  "type": "range",
  "id": "font_size2",
  "label": "SubFont Size",
  "default": 16,
  "min": 8,
  "max": 50,
  "step": 1
}

],
"blocks":[
{
"type" : "block",
"name" : "block",
"settings" : [
    {
 "id": "kome",
 "type": "image_picker",
  "label": "Image"
 },
  {
  "id" : "subtitle",
  "type" : "text",
  "label" : "Sub Title"
},
{
  "type": "range",
  "id": "font_size3",
  "label": "Font Size",
  "default": 16,
  "min": 8,
  "max": 50,
  "step": 1
}
]
}

],
"presets" : [
{
  "name" : "popularsections",
  "category" : "popularsections"

  }
]
}
{% endschema %}
